.thumbnails.svelte-pc6d8t{display:flex;flex-wrap:wrap;align-items:center;justify-content:center}
.thumbnail.svelte-10w8zpa{margin:20px}
.cards.svelte-o44yh3{display:flex;align-items:center}.card.svelte-o44yh3{min-width:0;width:100%}