.card.svelte-qp5idh{max-width:200px}
.cards.svelte-4dwfyc{margin:20px;display:flex;flex-wrap:wrap;align-items:center;justify-content:center}
body {
	background-color: #000;
	color: rgba(255, 245, 245, 0.9);
	padding: 0;
	margin: 0;
}
