/* TODO update this */

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
	height: 100%;
}

:root {
	/* TODO refactor with felt */
	--bg-color: rgba(8, 0, 0, 1);
	--bg-color-overlay: rgba(8, 0, 0, 0.65);
	--bg-color-backdrop: rgba(8, 0, 0, 0.8);
	--bg-color-fg: rgba(255, 247, 247, 0.08);
	--border-color: rgba(255, 247, 247, 0.2);
	--font-color: #ddd7d7;
	--font-color-heading: #d7c7c7;
	--font-size: 18px;
	--shadow_text_color: #ff3e00;
	--light_text_color: #3eff00;
	--shadow_border_color: hsla(15, 50%, 50%, 0.4);
	--light_border_color: hsla(105, 50%, 50%, 0.4);
}

body {
	overflow: hidden;
	height: 100%;
	background-color: var(--bg-color);
	color: var(--font-color);
	padding: 0;
	margin: 0;
	font-size: var(--font-size);
	font-family: sans-serif;
}

#svelte {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--font-color-heading);
}

ul {
	padding-left: 25px;
}

blockquote {
	border-left: 4px double var(--border-color);
	margin: 10px 0;
	padding-left: 15px;
}

hr {
	margin: 0;
	padding: 0;
	border: 0;
	border-top: 1px solid var(--border-color);
	height: 0;
	width: 100%;
}
